header {
	display: flex;
	flex-wrap: wrap;
	align-items: right;
	border-bottom: 3px solid #d5dae0;	
}

body {
	background-color: ;
}

#search-box {
	width: 1100px;
	background-color: #e0e3e5;
	height: 35px;
	font-size: 20px;
	font-family: cursive;	
}

#search {
	padding-top: 10px;

}
.fa {
	border: none;
	clear: both;
	margin-left: 30px;
	border-radius: 2px;
	padding: 10px;
	padding-right: 20px;
	font-color: #d5dae0;
	margin-top: 10px;		
}

#pin {
	height: 50px;
	width: 50px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 5px;	
}

#buttons {
	font-size: 30px;
	color: gray;
	text-decoration: none;
}

content {
	margin-top: 1000px;
}


#column1 { 
	float: left;
	width: 30%;
	margin-left: 5%;
	margin-right: 1px;
}

#column1 img {
	width: 90%
}

#column2 {
	float: left;
	width: 30%;
	margin-left: 2px;
}

#column2 img {
	width: 90%
}

#column3 {
	float: left;
	width: 30%;
	margin-left: 2px;
}

#column3 img {
	width: 90%
}

#pic1 {
	margin: 4px;
	text-align: center;
	background-color: #dee2e5;
}

#pic1:hover {
	background-color: gray;
	cursor: pointer;
	border-radius: 20px;
}

#pic2 {
	margin: 4px;
	text-align: center;
	background-color: #dee2e5;
}

#pic2:hover {
	background-color: gray;
	cursor: pointer;
	border-radius: 20px;
}

#pic3 {
	margin: 4px;
	text-align: center;
	background-color: #dee2e5;
}

#pic3:hover {
	background-color: gray;
	cursor: pointer;
	border-radius: 20px;
}

#pic4 {
	margin: 4px;
	text-align: center;
	background-color: #dee2e5;
}

#pic4:hover {
	background-color: gray;
	cursor: pointer;
	border-radius: 20px;
}

#pic5 {
	margin: 4px;
	text-align: center;
	background-color: #dee2e5;
}

#pic5:hover {
	background-color: gray;
	cursor: pointer;
	border-radius: 20px;
}

#pic6 {
	margin: 4px;
	text-align: center;
	background-color: #dee2e5;
}

#pic6:hover {
	background-color: gray;
	cursor: pointer;
	border-radius: 20px;
}

#pic7 {
	margin: 4px;
	text-align: center;
	background-color: #dee2e5;
}

#pic7:hover {
	background-color: gray;
	cursor: pointer;
	border-radius: 20px;
}

#pic8 {
	margin: 4px;
	text-align: center;
	background-color: #dee2e5;
}

#pic8:hover {
	background-color: gray;
	cursor: pointer;
	border-radius: 20px;
}

#pic9 {
	margin: 4px;
	text-align: center;
	background-color: #dee2e5;
}

#pic9:hover {
	background-color: gray;
	cursor: pointer;
	border-radius: 20px;
}


















